<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'joshuaclayton/blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'joshuaclayton/blueprint/print',  :media => 'print' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>